In [1]:
import pandas as pd
import time
from datetime import datetime

In [2]:
df = pd.read_csv('data.csv')
df.head()

                            user_id  product_id  rating                 time
0  7892FA71D8D1EAEBE438135718A5C420     2920660       1  2016-03-31 00:00:00
1  2CEBC824EBEF1B52EA7562B716D020D8     1885579       1  2016-03-31 00:00:06
2  81ADFE4DC80154EAF829FC0CBADD71EA     2633702       1  2016-03-31 00:00:07
3  F942D7B0377D64F1280EA7BB8DCC3A47     2936475       1  2016-03-31 00:00:13
4  C8BFABB5F293BC9890124E192FBFC898     2146364       1  2016-03-31 00:00:16

In [3]:
def convert_date(x):
    cur = datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
    return int(time.mktime(cur.timetuple()))

In [4]:
df['time'] = df['time'].apply(lambda x : convert_date(x))

In [5]:
user_id_list = df['user_id'].unique()
item_id_list = df['product_id'].unique()

In [6]:
item_id_list.sort()

In [7]:
map_item_dic = {}
for index in range(len(item_id_list)):
    map_item_dic[index] = item_id_list[index]

In [8]:
with open('p_id', 'w') as f:
    for key in map_item_dic.keys():
        f.write("%s,%s\n"%(key,map_item_dic[key]))

In [9]:
map_user_dic = {}
for index in range(len(user_id_list)):
    map_user_dic[index] = user_id_list[index]

In [10]:
with open('user_id', 'w') as f:
    for key in map_user_dic.keys():
        f.write("%s,%s\n"%(key,map_user_dic[key]))

In [13]:
map_user_dic_encode = {}
for key in map_user_dic.keys():
    map_user_dic_encode[map_user_dic[key]] = key

In [15]:
map_item_dic_encode = {}
for key in map_item_dic.keys():
    map_item_dic_encode[map_item_dic[key]] = key

In [17]:
def conver_uid(x):
    return map_user_dic_encode[x]
def conver_item(x):
    return map_item_dic_encode[x]

In [18]:
df['user_id'] = df['user_id'].apply(lambda x: conver_uid(x))
df['product_id'] = df['product_id'].apply(lambda x: conver_item(x))

In [19]:
df.head()

   user_id  product_id  rating        time
0        0      363742       1  1459357200
1        1       78607       1  1459357206
2        2      244637       1  1459357207
3        3      373469       1  1459357213
4        4      124321       1  1459357216

In [20]:
df.to_csv('sendo.data', header = False, index = False, sep = '\t')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5148733 entries, 0 to 5148732
Data columns (total 4 columns):
user_id       int64
product_id    int64
rating        int64
time          int64
dtypes: int64(4)
memory usage: 157.1 MB