In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('sendo-data.csv')

In [5]:
df.head()

,time,user_id,product_id,belong_cate_lvl1_id,belong_cate_lvl2_id,belong_cate_lvl3_id,belong_cate_lvl1_name,belong_cate_lvl2_name,belong_cate_lvl3_name,href
0,2016-03-31 00:00:00,7892FA71D8D1EAEBE438135718A5C420,2920660,8,9,11,Thời trang nữ,Áo nữ,Áo kiểu,https://www.sendo.vn/san-pham/ao-kieu-from-dai...
1,2016-03-31 00:00:06,2CEBC824EBEF1B52EA7562B716D020D8,1885579,1722,1726,1748,Túi xách,Túi xách nam,Túi đeo chéo nam,https://www.sendo.vn/san-pham/tui-deo-may-tinh...
2,2016-03-31 00:00:07,81ADFE4DC80154EAF829FC0CBADD71EA,2633702,8,52,53,Thời trang nữ,"Đồ lót, đồ ngủ và đồ mặc nhà",Áo ngực,https://www.sendo.vn/san-pham/ao-nguc-7-kieu-c...
3,2016-03-31 00:00:13,F942D7B0377D64F1280EA7BB8DCC3A47,2936475,528,529,542,Phụ kiện công nghệ,Phụ kiện Điện thoại,Phụ kiện khác,https://www.sendo.vn/san-pham/kinh-thuc-te-ao-...
4,2016-03-31 00:00:16,C8BFABB5F293BC9890124E192FBFC898,2146364,8,52,56,Thời trang nữ,"Đồ lót, đồ ngủ và đồ mặc nhà",Đồ lót bộ,https://www.sendo.vn/san-pham/set-ao-yem-quan-...

In [8]:
data = df.drop(['belong_cate_lvl1_id','belong_cate_lvl2_id','belong_cate_lvl3_id','belong_cate_lvl1_name','belong_cate_lvl2_name','belong_cate_lvl3_name','href'],axis = 1)

In [9]:
data.head()

                  time                           user_id  product_id
0  2016-03-31 00:00:00  7892FA71D8D1EAEBE438135718A5C420     2920660
1  2016-03-31 00:00:06  2CEBC824EBEF1B52EA7562B716D020D8     1885579
2  2016-03-31 00:00:07  81ADFE4DC80154EAF829FC0CBADD71EA     2633702
3  2016-03-31 00:00:13  F942D7B0377D64F1280EA7BB8DCC3A47     2936475
4  2016-03-31 00:00:16  C8BFABB5F293BC9890124E192FBFC898     2146364

In [10]:
data = data.drop_duplicates(['user_id','product_id'],keep='first')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5148733 entries, 0 to 7104102
Data columns (total 3 columns):
time          object
user_id       object
product_id    int64
dtypes: int64(1), object(2)
memory usage: 157.1+ MB

In [13]:
data.to_csv('data.csv',index=False)

In [3]:
test = pd.read_csv('data.csv')

In [4]:
test.head()

                  time                           user_id  product_id
0  2016-03-31 00:00:00  7892FA71D8D1EAEBE438135718A5C420     2920660
1  2016-03-31 00:00:06  2CEBC824EBEF1B52EA7562B716D020D8     1885579
2  2016-03-31 00:00:07  81ADFE4DC80154EAF829FC0CBADD71EA     2633702
3  2016-03-31 00:00:13  F942D7B0377D64F1280EA7BB8DCC3A47     2936475
4  2016-03-31 00:00:16  C8BFABB5F293BC9890124E192FBFC898     2146364

In [5]:
test['rating'] = 1

In [6]:
test.head()

                  time                           user_id  product_id  rating
0  2016-03-31 00:00:00  7892FA71D8D1EAEBE438135718A5C420     2920660       1
1  2016-03-31 00:00:06  2CEBC824EBEF1B52EA7562B716D020D8     1885579       1
2  2016-03-31 00:00:07  81ADFE4DC80154EAF829FC0CBADD71EA     2633702       1
3  2016-03-31 00:00:13  F942D7B0377D64F1280EA7BB8DCC3A47     2936475       1
4  2016-03-31 00:00:16  C8BFABB5F293BC9890124E192FBFC898     2146364       1

In [7]:
x = test['time']

In [10]:
test = test.drop('time',axis = 1)

In [11]:
test.head()

                            user_id  product_id  rating
0  7892FA71D8D1EAEBE438135718A5C420     2920660       1
1  2CEBC824EBEF1B52EA7562B716D020D8     1885579       1
2  81ADFE4DC80154EAF829FC0CBADD71EA     2633702       1
3  F942D7B0377D64F1280EA7BB8DCC3A47     2936475       1
4  C8BFABB5F293BC9890124E192FBFC898     2146364       1

In [12]:
test['time'] = x

In [13]:
test.head()

                            user_id  product_id  rating                 time
0  7892FA71D8D1EAEBE438135718A5C420     2920660       1  2016-03-31 00:00:00
1  2CEBC824EBEF1B52EA7562B716D020D8     1885579       1  2016-03-31 00:00:06
2  81ADFE4DC80154EAF829FC0CBADD71EA     2633702       1  2016-03-31 00:00:07
3  F942D7B0377D64F1280EA7BB8DCC3A47     2936475       1  2016-03-31 00:00:13
4  C8BFABB5F293BC9890124E192FBFC898     2146364       1  2016-03-31 00:00:16

In [14]:
test.to_csv('data.csv', index = False)

In [15]:
df_data = pd.read_csv('u.data')

In [16]:
df_data.head()

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806

In [17]:
test['user_id'].nunique()

799484

In [18]:
test['product_id'].nunique()

620651

In [19]:
uid = test['user_id'].unique()

In [20]:
uid

array(['7892FA71D8D1EAEBE438135718A5C420',
       '2CEBC824EBEF1B52EA7562B716D020D8',
       '81ADFE4DC80154EAF829FC0CBADD71EA', ...,
       'BE6CB7CEF3A5C16859BB5E160CD5A743',
       'F484AB963BD3F4B93D8076B82BD7F3CC',
       'C8A11979E39607CE982CDD332FB09712'], dtype=object)

In [23]:
index = 0
dic_temp = {'uid':'index'} 
for uid_i in uid:
    dic_temp[uid_i] = index
    index += 1

In [28]:
dic_temp.pop('uid')

'index'

In [31]:
import csv

with open('uid.csv', 'w') as f:
    for key in dic_temp.keys():
        f.write("%s,%s\n"%(key,dic_temp[key]))

In [ ]:
def p(x):
    print(x)
test['user_id'] = test['user_id'].apply(lambda x : p(x))